*.o
CMakeFiles/
src/CMakeFiles/
test/CMakeFiles/
Testing/Temporary
CMakeLists.txt.user
Makefile
cmake_install.cmake
CMakeCache.txt
nameScore
CTestTestfile.cmake
src/libNamesScoreLib.a
src/namesScore
test/Test
test/Testing/
